/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.9;
  overflow-x: hidden;
}
::selection {
  background-color: #656c86;
  color: #fff;
}

.section {
  transition: transform 1s, opacity 1s;
  margin-bottom: 15rem;
}
.section__title {
  text-align: center;
  margin: 8rem auto 8rem auto;
}
.section__title--white {
  background-color: #fff;
}
.section__description {
  font-weight: 600;
}
.section__description--grey {
  padding: 1rem;
  display: inline;
  border: none;
  border-radius: 1rem;
  color: #3e57da;
  background: #f5f8ff;
}
.section__description--template {
  padding: 1rem;
  display: inline;
  border: none;
  border-radius: 1rem;
  background-color: #1f235b;
  color: #c6d7fe;
}
.section__description--white {
  padding: 1rem;
  display: inline;
  border: none;
  border-radius: 1rem;
  background-color: #fff;
  color: #3e57da;
}
.section__header {
  font-size: 5.5rem;
  font-weight: 500;
  line-height: 5.5rem;
  margin-top: 5rem;
}
@media only screen and (max-width: 37.5em) {
  .section__header {
    font-size: 3rem;
    margin-top: 2rem;
  }
}
.section__header--template {
  color: #fff;
}

#section-1 {
  background-color: #fff;
}

.heading-5, .heading-4, .heading-3, .heading-2, .heading-1 {
  font-weight: 400;
}

.heading-1 {
  font-size: 2rem;
  line-height: 1;
}

.heading-2 {
  font-size: 8.8rem;
  letter-spacing: -0.475rem;
  text-transform: none;
  line-height: 8.8rem;
  color: #333b52;
}
@media only screen and (max-width: 75em) {
  .heading-2 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

.heading-3 {
  font-size: 1.6rem;
  color: #656c86;
}

.heading-4 {
  font-size: 5.5rem;
}

.heading-5 {
  font-size: 3.2rem;
  letter-spacing: -0.0128rem;
  line-height: 4.4rem;
  font-weight: 500;
}

.paragraph {
  font-size: 2rem;
  color: #333b52;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 2rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 4rem !important;
  }
}

.u-margin-top-medium {
  margin-top: 3.5rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-top-medium {
    margin-top: 2rem;
  }
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-top-huge {
    margin-top: 5rem;
  }
}

.padding {
  padding: 0 15rem;
}
@media only screen and (max-width: 56.25em) {
  .padding {
    padding: 0 5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .padding {
    padding: 1rem;
  }
}

.border-bottom {
  border-bottom: 1px solid #d1d6e5;
  width: 100%;
}

.border > :not(:last-child) {
  border-right: 1px solid whitesmoke;
}

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  border-radius: 1rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  display: inline-flex;
  align-items: center;
  border: none;
  cursor: pointer;
}
.btn:hover {
  transform: translateX(-3px);
}
.btn:active, .btn:focus {
  outline: none;
  transform: translateX(-1px);
}
.btn--blue {
  background-color: #3e57da;
  color: #fff;
}
.btn--blue:hover {
  background-color: #102943;
}
.btn--grey {
  background-color: #fff;
  color: black;
  border: 1px solid #656c86;
}
.btn--grey:hover {
  background: #656c86;
}
.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.btn-fas {
  margin-left: 10px;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #656c86;
  display: inline-flex;
  text-decoration: none;
  border-radius: 10px;
  padding: 2rem;
  transition: all 0.2s;
}
.btn-text:hover {
  transform: translateX(-2px);
}
.btn-text:active {
  transform: translateY(0);
}

:link {
  text-decoration: none;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  display: inline-flex;
  align-items: center;
  border: none;
  cursor: pointer;
}
.navbar {
  display: flex;
  background-color: #fff;
  align-items: center;
  height: 9rem;
  padding: 0 15rem;
  font-size: 1.6rem;
}
.navbar__logo {
  width: 10%;
}
.navbar__logo img {
  width: 10rem;
}
@media only screen and (max-width: 56.25em) {
  .navbar__logo img {
    margin-right: 2rem;
  }
}
.navbar #nav__button {
  display: none;
}
@media only screen and (max-width: 56.25em) {
  .navbar #nav__button {
    display: flex;
  }
}
.navbar__menu {
  display: flex;
  list-style: none;
  width: 60%;
}
@media only screen and (max-width: 75em) {
  .navbar__menu {
    display: none;
  }
}
.navbar__cta {
  display: flex;
  justify-content: space-between;
}
.navbar__cta li {
  list-style: none;
}
.navbar__cta .navbar__btn a {
  color: #fff;
}
@media only screen and (max-width: 75em) {
  .navbar__cta > *:not(:last-child) {
    display: none;
  }
}
.navbar .fa-bars {
  font-size: 2rem;
}
.navbar button {
  border: none;
  outline: none;
  background: transparent;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 0 0 1rem 1rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 800px;
}

.navbar__list:hover .dropdown-top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown-content p:hover {
  background-color: #3e57da;
}

.dropdown-content .dropdown-bottom {
  background-color: #1f235b;
  display: flex;
  border-radius: 0 0 1rem 1rem;
}
.dropdown-content .dropdown-bottom p {
  color: #fff;
  border-right: 1px solid wheat;
}

.navbar__list:hover .dropdown-content {
  display: grid;
}

.dropdown-top i {
  color: #656c86;
  background-color: #d1d6e5;
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 2rem;
}
.dropdown-top i:hover {
  color: #fff;
  background-color: #3e57da;
}

.dropdown-top p {
  display: flex;
  gap: 5px;
}
.dropdown-top p:hover {
  color: #3e57da;
  background-color: #f4f2fd;
  border-radius: 2px;
}

.toggle {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: absolute;
  top: 100%;
  width: 100%;
  right: 0;
  margin: 0;
  align-items: flex-start;
}
.toggle .dropdown-content {
  top: 100%;
  width: 100%;
  margin-left: 3rem;
  z-index: -999;
  background: #3e57da;
}
.toggle .dropdown-toph4 {
  padding-top: 25%;
}

.footer {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  padding: 10rem 5rem;
  color: #fff;
  background: url(/img/template-section-bg.webp);
}
.footer--span {
  color: #3e57da;
}
.footer ul {
  list-style: none;
}
.footer ul li {
  color: #fff;
  font-size: 1.5rem;
}
.footer ul li:hover {
  color: #3e57da;
}
.footer__list-items {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}
@media only screen and (max-width: 75em) {
  .footer__list-items {
    width: 100%;
    margin-bottom: 5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer__list-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 5rem;
  }
}
.footer__list-items span {
  font-size: 2rem;
}

.display1 {
  width: 20%;
  font-size: 1.5rem;
}
@media only screen and (max-width: 75em) {
  .display1 {
    width: 100%;
  }
}

.img-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
@media only screen and (max-width: 75em) {
  .img-icon {
    justify-content: center;
  }
}

.address {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  padding: 2rem 0;
  border-top: 1px solid beige;
}
@media only screen and (max-width: 75em) {
  .address {
    border-top: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.address p {
  color: #fff;
  font-size: 1.8rem;
  font-weight: lighter;
}
.address .social--icons {
  display: flex;
  justify-content: space-between;
  width: 10%;
  font-size: 30px;
}
@media only screen and (max-width: 75em) {
  .address .social--icons {
    width: 20%;
    margin-top: 2rem;
  }
}

.section-9 {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media only screen and (max-width: 75em) {
  .section-9 {
    flex-direction: column-reverse;
  }
}

.container--wrap {
  width: 100%;
  padding-bottom: 10rem;
  background-image: url(/img/background-image.svg);
  overflow: hidden;
}
.container--wrap .paragraph {
  width: 100%;
  padding: 0 35rem;
}
@media only screen and (max-width: 75em) {
  .container--wrap .paragraph {
    padding: 0 2rem;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.header__caption {
  color: #3e57da;
  background: #fff;
  display: inline-flex;
  border: none;
  border-radius: 1rem;
}
.header__span {
  color: #3e57da;
}
.header__last {
  display: flex;
  justify-content: space-between;
}
.header__last__rated {
  margin-left: auto;
}

.error__icon {
  height: 2rem;
  width: 2rem;
  fill: #3e57da;
  margin-left: 5px;
}

.html-video {
  height: 80%;
  max-width: 100%;
  border-radius: 2rem;
}

.trusted {
  display: flex;
}

#leader-section {
  display: flex;
  margin: 10rem 15rem;
}
@media only screen and (max-width: 75em) {
  #leader-section {
    flex-direction: column;
    margin: 5rem;
  }
}
#leader-section .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
#leader-section .grid p {
  display: inline-flex;
}
#leader-section .grid-1 {
  display: inline-flex;
}
#leader-section .leader__title {
  width: 45%;
}
@media only screen and (max-width: 75em) {
  #leader-section .leader__title {
    width: 100%;
  }
}

.grid-image {
  height: 70vh;
  width: 45vw;
  margin-left: 3rem;
  justify-content: center;
}
@media only screen and (max-width: 75em) {
  .grid-image {
    width: 100%;
    margin-top: 2rem;
  }
}

#integration-section {
  margin: 10rem 15rem;
  background-color: #fff;
}
@media only screen and (max-width: 56.25em) {
  #integration-section {
    margin: 5rem 1rem;
  }
}

.integration__contents {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}
@media only screen and (max-width: 56.25em) {
  .integration__contents {
    flex-direction: column;
    width: 100% !important;
  }
}

.content-1 {
  width: 60%;
}
@media only screen and (max-width: 56.25em) {
  .content-1 {
    width: 100%;
  }
}

.content-2 {
  width: 35%;
  padding-top: 8rem;
  letter-spacing: 0.25rem;
}
@media only screen and (max-width: 56.25em) {
  .content-2 {
    width: 100%;
  }
}

.integrations-logo-row-img {
  max-width: 8rem;
  min-width: 8rem;
  max-height: 8rem;
  min-height: 8rem;
}

#enterprise__section {
  display: flex;
  flex-direction: column;
  margin: 10rem 15rem;
  background-color: #fff;
}
@media only screen and (max-width: 75em) {
  #enterprise__section {
    margin: 5rem 3rem;
  }
}
#enterprise__section .fa {
  font-size: 2rem;
  color: #fff;
  padding: 5px;
  border-radius: 0.5rem;
}
#enterprise__section .test {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 56.25em) {
  #enterprise__section .test .p1 {
    width: 80%;
    margin-right: 0;
  }
}
#enterprise__section .test i {
  margin-right: 1rem;
}
#enterprise__section .test .text {
  margin-left: 6rem;
}

.enterprise__contents {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 75em) {
  .enterprise__contents {
    flex-direction: column;
  }
}
.enterprise__card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media only screen and (max-width: 56.25em) {
  .enterprise__card {
    flex-direction: column;
  }
}
.enterprise__card--content {
  background-color: #f5f8ff;
  width: 24%;
  text-align: center;
  border-radius: 2rem;
  border: 5px solid #f5f8ff;
  padding-top: 3rem;
  display: flex;
}
@media only screen and (max-width: 56.25em) {
  .enterprise__card--content {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.fa {
  height: 3rem;
}
.fa-cog {
  background-color: #3e57da;
}
.fa-lock {
  background-color: cadetblue;
}
.fa-eye {
  background-color: forestgreen;
}
.fa-flag {
  background-color: deeppink;
}

.content-1 {
  width: 50%;
}
@media only screen and (max-width: 56.25em) {
  .content-1 {
    width: 100%;
  }
}
.content-2 {
  width: 45%;
  letter-spacing: -1px;
}
@media only screen and (max-width: 56.25em) {
  .content-2 {
    width: 100%;
  }
}

.uses__card {
  display: none;
  background: #f5f8ff;
  padding: 5.6rem;
}
@media only screen and (max-width: 37.5em) {
  .uses__card {
    padding: 1rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .uses__card {
    padding: 1.5rem;
    padding-bottom: 3rem;
  }
}
.uses__card--active {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 37.5em) {
  .uses__card--active {
    flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 56.25em) {
  .uses__card--active {
    flex-direction: column;
  }
}
@media only screen and (max-width: 75em) {
  .uses__card--active {
    flex-direction: column;
  }
}
@media only screen and (max-width: 56.25em) {
  .uses h2 {
    display: flex;
    flex-direction: column;
  }
}
.uses__captions {
  width: 45%;
}
@media only screen and (max-width: 37.5em) {
  .uses__captions {
    width: 100%;
  }
}
@media only screen and (max-width: 37.5em) {
  .uses__captions p {
    display: none;
  }
}
@media only screen and (max-width: 56.25em) {
  .uses__captions {
    width: 100%;
  }
}
@media only screen and (max-width: 75em) {
  .uses__captions {
    width: 100%;
  }
}
.uses__video {
  width: 54%;
  border-radius: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .uses__video {
    width: 100%;
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .uses__video {
    width: 100%;
  }
}
@media only screen and (max-width: 75em) {
  .uses__video {
    width: 100%;
  }
}
@media only screen and (max-width: 37.5em) {
  .uses button {
    width: 90%;
    margin-top: 1.5rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .uses button {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 75em) {
  .uses button {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }
}

.uses__tab-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media only screen and (max-width: 56.25em) {
  .uses__tab-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.user {
  display: flex;
}
.user-img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}
@media only screen and (max-width: 37.5em) {
  .user-img {
    display: none;
  }
}
.user--about {
  margin-left: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .user--about {
    display: none;
  }
}

img {
  vertical-align: middle;
  display: inline-flex;
}

.uses__tab {
  width: 80%;
  background-color: #f5f8ff;
  color: #656c86;
  margin-right: 1rem;
  display: inline-flex;
  border: none;
  border-radius: 1rem;
  opacity: 1;
  padding: 10px 6px;
  text-align: center;
}
@media only screen and (max-width: 56.25em) {
  .uses__tab {
    width: auto;
    margin-bottom: 1rem;
  }
}

.uses--active {
  background-color: #3e57da;
  color: #ffffff;
}

#start-section {
  background-image: url(/img/background-image.svg);
  border-radius: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  margin: 0 10rem;
  padding: 5rem;
  align-items: center;
}
@media only screen and (max-width: 56.25em) {
  #start-section {
    margin: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 75em) {
  #start-section {
    margin: 2rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
  }
}
#start-section iframe {
  border-radius: 3rem;
  border-bottom-right-radius: 15rem;
}
@media only screen and (max-width: 37.5em) {
  #start-section iframe {
    width: fit-content;
  }
}
@media only screen and (max-width: 75em) {
  #start-section iframe {
    width: 80vw;
  }
}

#avatars-section {
  background: #f5f8ff;
  padding: 5rem 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem;
}
@media only screen and (max-width: 75em) {
  #avatars-section {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
}
#avatars-section .avatars__title {
  align-content: center;
}
#avatars-section .avatars__video {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media only screen and (max-width: 37.5em) {
  #avatars-section .avatars__video {
    gap: 0.5rem;
  }
}
#avatars-section .avatars__video video {
  border-radius: 3rem;
}
@media only screen and (max-width: 37.5em) {
  #avatars-section .avatars__video video {
    height: 180px;
    width: 190px;
  }
}
#avatars-section .fa-check-circle {
  color: #3e57da;
  margin-right: 5px;
  font-size: 15px;
}

#template-section {
  background-image: url(/img/template-section-bg.webp);
  margin: 0 10rem;
  padding: 5rem 10rem;
  border-radius: 2rem;
  font-size: 1.6rem;
}
@media only screen and (max-width: 37.5em) {
  #template-section {
    margin: 0 1rem;
    padding: 2rem 4rem;
  }
}
@media only screen and (max-width: 75em) {
  #template-section {
    margin: 0 1rem;
    padding: 2rem 4rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .template {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 3rem;
  }
}
.template__tab--container {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 56.25em) {
  .template__tab--container {
    flex-direction: column;
  }
}
.template__tab {
  width: 24%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  background-color: #1f235b;
  opacity: 0.5;
  padding: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .template__tab {
    width: 100%;
    margin-top: 2rem;
  }
}
.template__tab span {
  background-color: #3e57da;
  padding: 0.5rem;
  border-radius: 0.7rem;
  font-size: 2rem;
}
.template__tab--active {
  display: flex;
  opacity: 1;
}
.template__tab--active span {
  background-color: #fff;
  color: #1f235b;
}
.template__tab--active:hover {
  cursor: pointer;
}
.template__video {
  display: none;
  border-radius: 3rem;
}
.template__video--active {
  display: flex;
  margin-top: 3rem;
}

#template2-section {
  background-image: url(/img/template-section-bg.webp);
  margin: 0 5rem;
  padding: 3rem 5rem;
  border-radius: 3rem;
}
#template2-section .section__header {
  padding: 0 30rem;
}
@media only screen and (max-width: 75em) {
  #template2-section .section__header {
    padding: 0;
    width: 100%;
  }
}
.template2__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media only screen and (max-width: 56.25em) {
  .template2__container {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 75em) {
  .template2__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.template2__container iframe {
  border-radius: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .template2__container iframe {
    width: fit-content;
  }
}
.template2__container p {
  color: #fff;
  font-size: 2rem;
}

.template2--header {
  color: #fff;
  text-align: center;
}

#free__demo {
  background-image: url(/img/Hero-Module.svg);
  margin: 10rem;
  padding: 3rem 10rem;
  border-radius: 3rem;
}
@media only screen and (max-width: 56.25em) {
  #free__demo {
    margin: 10rem 3rem;
    padding: 3rem 2rem;
  }
}
@media only screen and (max-width: 56.25em) {
  #free__demo .btn {
    display: none;
  }
}
#free__demo .mobile {
  display: none;
}
@media only screen and (max-width: 56.25em) {
  #free__demo .mobile {
    display: flex !important;
    flex-direction: row !important;
    height: 100px;
    width: fit-content;
  }
}

.demo__description {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.demo__content {
  width: 55%;
}
@media only screen and (max-width: 56.25em) {
  .demo__content {
    width: 100%;
  }
}
.demo__content span {
  margin-right: 1rem;
  color: #656c86;
}
.demo__flex-btn {
  display: flex;
}
.demo__link--btn {
  width: 80%;
  background-color: #3e57da;
  border-radius: 1rem;
  border: none;
}
.demo__link--btn:hover {
  background-color: #102943;
}
.demo__link--btn:hover::after {
  background-color: #102943;
}
.demo__img {
  display: none;
}
.demo__img--active {
  display: flex;
}
@media only screen and (max-width: 56.25em) {
  .demo__img--active {
    display: none;
  }
}
.demo__tab {
  background-color: transparent;
  color: #656c86;
  width: 25%;
  padding: 5px 4px;
  margin-right: 15px;
  border: 1px solid #d1d6e5;
  border-radius: 1rem;
  text-transform: uppercase;
}
.demo__tab--active {
  background-color: #fff;
  color: #3e57da;
  border: 1px solid #3e57da;
}
.demo__tab:hover {
  cursor: pointer;
}

.table__content {
  display: none;
}
.table__content--active {
  display: flex;
}

#faqs-section {
  margin: 15rem 10rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 56.25em) {
  #faqs-section {
    margin: 5rem 3rem;
    flex-direction: column;
    align-items: center;
  }
}

.faqs__contents {
  width: 35%;
}
@media only screen and (max-width: 56.25em) {
  .faqs__contents {
    width: 100%;
  }
}
.faqs__flex--containers {
  width: 55%;
}
@media only screen and (max-width: 56.25em) {
  .faqs__flex--containers {
    width: 100%;
  }
}

.answer {
  display: none;
}

.question {
  font-size: 1.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.question .faqs__arrow--icon {
  color: #3e57da;
  font-size: 1.8rem;
  transition: transform 0.3s ease;
}

.faqs__flex--item {
  background-color: #f5f8ff;
  padding: 3rem 5rem;
  margin-top: 1.5rem;
  border-radius: 1rem;
  border: 1px solid transparent;
}
.faqs__flex--item ul li::marker {
  color: #3e57da;
  width: 3rem;
  height: 5rem;
}

.blue {
  color: #3e57da;
  font-weight: 500;
}
.blue:hover {
  text-decoration: underline;
  cursor: pointer;
}

.black {
  color: #000;
}

#roi-section {
  display: flex;
  flex-direction: column;
  margin: 10rem;
}
@media only screen and (max-width: 75em) {
  #roi-section {
    margin: 1rem;
  }
}
#roi-section .section__header {
  width: 100%;
  padding: 0 20rem;
}
@media only screen and (max-width: 75em) {
  #roi-section .section__header {
    padding: 0;
    width: 100%;
  }
}
#roi-section .fig {
  font-size: 4rem;
}

.roi__card--container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 75em) {
  .roi__card--container {
    flex-direction: column;
  }
}
.roi--card {
  background-color: #f5f8ff;
  width: 31%;
  text-align: center;
  border-radius: 3rem;
  border: 5px solid #f5f8ff;
  padding-top: 3rem;
}
@media only screen and (max-width: 75em) {
  .roi--card {
    width: 100%;
    margin-bottom: 3rem;
  }
}
.roi--card span {
  font-weight: bold;
}
.roi--card h1 {
  margin-top: -4rem;
}
.roi--card p {
  font-size: 1.7rem;
  margin: 3rem 0;
}
.roi--card a {
  color: #3e57da;
  font-weight: 600;
}
.roi--card a:hover {
  text-decoration: underline;
  text-decoration-color: black;
  color: black;
}
.roi--text {
  color: #3e57da;
}
.roi--text span {
  font-size: 9rem;
  font-weight: bold;
}

#updates-section {
  display: flex;
  margin: 10rem;
  justify-content: space-between;
}
@media only screen and (max-width: 37.5em) {
  #updates-section {
    margin: 2rem;
    flex-direction: column;
  }
}
@media only screen and (max-width: 56.25em) {
  #updates-section {
    margin: 2rem;
    flex-direction: column;
  }
}
@media only screen and (max-width: 75em) {
  #updates-section {
    margin: 2rem;
    display: flex;
  }
}

@media only screen and (max-width: 37.5em) {
  .updates {
    width: 100%;
  }
}
@media only screen and (max-width: 56.25em) {
  .updates {
    width: 100%;
  }
}
.updates__title {
  width: 45%;
}
@media only screen and (max-width: 37.5em) {
  .updates__title {
    width: 100%;
  }
}
@media only screen and (max-width: 56.25em) {
  .updates__title {
    width: 100%;
  }
}
.updates__video {
  width: 50%;
  border-radius: 10px;
}
@media only screen and (max-width: 37.5em) {
  .updates__video {
    margin-top: 2rem;
    width: 100%;
  }
}
@media only screen and (max-width: 56.25em) {
  .updates__video {
    margin-top: 2rem;
    width: 100%;
  }
}

#try-section {
  background-image: url(/img/Hero-Module.svg);
  padding-top: 10rem;
}

.try__description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}
@media only screen and (max-width: 75em) {
  .try__description {
    display: flex;
    flex-direction: column;
  }
}
.try__content {
  margin-left: 15rem;
}
@media only screen and (max-width: 75em) {
  .try__content {
    margin-left: 2rem;
  }
}
.try__flex-btn {
  display: flex;
  gap: 1rem;
}
.try__video {
  background-image: url(/img/prefooter-UI-p-1600.webp);
  position: relative;
  height: 70vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

#voiceover-section {
  background: #f5f8ff;
  padding: 5rem 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem;
}
@media only screen and (max-width: 75em) {
  #voiceover-section {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  #voiceover-section {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    margin-top: -7rem;
  }
}
.fa-check-circle {
  color: #3e57da;
  margin-right: 5px;
  font-size: 15px;
}

.voiceover__title {
  align-content: center;
}
.voiceover__videos {
  position: relative;
}
.voiceover__videos .language__video {
  display: none;
}
.voiceover__videos .language__video--active {
  display: flex;
  position: relative;
}
.voiceover__videos .language__btn {
  background-color: #fff;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  align-items: center;
  display: flex;
  text-transform: uppercase;
}
@media only screen and (max-width: 37.5em) {
  .voiceover__videos .language__btn {
    width: 15rem;
  }
}
.voiceover__videos .language__btn img {
  margin-right: 0.5rem;
}
.voiceover__videos .language__btn--active {
  background: black;
  color: #fff;
}
.voiceover__videos .language__btn:hover {
  cursor: pointer;
}
.voiceover__videos video {
  border-radius: 3rem;
  border-bottom-right-radius: 10rem;
}
.voiceover__child {
  position: absolute;
  bottom: 30px;
  left: 10px;
  display: flex;
  width: 90%;
  justify-content: space-between;
}
@media only screen and (max-width: 37.5em) {
  .voiceover__child {
    bottom: -100px;
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/*# sourceMappingURL=style.css.map */
