//COLORS

$color-primary: #656c86;  
$color-primary-light: #f4f2fd;
$color-primary-light-2: #e6eaf4;

$color-grey-light-1: #c6d7fe;
$color-grey-light-2: #d1d6e5;
$color-grey-dark-1: #f5f8ff;
$color-grey-dark-2: #333b52;


$color-secondary-light: #3e57da; 
$color-secondary-dark: #8098f9;


$color-indigo-light : #1f235b;
$color-indigo-dark: #102943;


$color-white: #fff;
// $color-black: #000;

// FONT SIZE
$default-font-size: 1.6rem;


