#avatars-section {
  background: $color-grey-dark-1 ;
  // display: flex;
  padding: 5rem 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem;

  @include respond(tab-land) {
    // padding: 4rem 7rem;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
  }
    .avatars{
      &__title {
        align-content: center;
      }
    
    &__video {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;

      video{
        border-radius: 3rem;
      }
    }
      
      
    
}

  .fa-check-circle {
    color: $color-secondary-light;
    margin-right: 5px;
    font-size: 15px;
}
}