#free__demo {
    background-image: url(/img/Hero-Module.svg);
    margin: 10rem;
    padding: 3rem 10rem ;
    border-radius: 3rem;
        @include respond(tab-port) {
         margin: 10rem 3rem;
         padding: 3rem 2rem;
            
        }
        
    
  }

  .demo{

    &__description {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    }

    &__content {
        width: 55%;

        span {
          margin-right: 1rem;
          color: $color-primary;
        }


    }

    &__flex-btn {
        display: flex;
        // width: 100%;
        
    }
    &__link--btn {
      width: 80%;
      background-color: $color-secondary-light;
      border-radius: 1rem;
      border: none;

      &:hover {
        background-color: $color-indigo-dark;

        &::after {
          background-color: $color-indigo-dark;
      }
      }
    }

    &__img {
        display: none;

        // @include respond(tab-port) {
        //     margin: 0 3rem;
        //     padding: 1rem 2rem;
               
        //    }

        &--active {
            display: flex;

            @include respond(tab-port) {
               
                   display: none;
               }
        }
    }


  
  

  &__tab {

    background-color: transparent;
    color: $color-primary;
    width: 25%;
    padding: 5px 4px;
    margin-right: 15px;
    border: 1px solid $color-grey-light-2;
    border-radius: 1rem;
    text-transform: uppercase;

    // @include respond(tab-port) {
    //     display: none;
           
    //    }

    &--active{
        background-color: $color-white;
        color: $color-secondary-light;
        border: 1px solid $color-secondary-light;
        
    }

    &:hover {
        // background-color: $color-white;
        cursor: pointer;
    }
}

  }

  .table__content {
    display: none;

    &--active {
        display: flex;
    }
  }


  .section-9{
    // margin-top: 100px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}



.footer {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    padding: 10rem 5rem;
    color: $color-white;
    background: url(/img/template-section-bg.webp);

    &--span {
        color: $color-secondary-light;
    }
}
.footer ul {
    list-style: none;
    
    li {
        color: $color-white;
        font-size: 1.5rem;
        &:hover{
            color: $color-secondary-light;
        }
    }

}
.display1{
    width: 20%;
    font-size: 1.5rem;
    // align-items: center;
    
}
.img-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.footer__list-items{
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    // font-size: 16px;

    span {
        font-size: 2rem;
    }
}
// .list-items span{
//     font-weight: bold;
//     // color: #000;
// }

.address{
    width: 100%;
    font-size: 30px;
    display: inline-flex;
    justify-content: space-between;
    padding: 2rem 0;
    // align-self: center;
    // text-align: center;
}
// .display5 .social{
//     display: flex;
// }
// .social img{
//     // margin-right: 10px;
// }
 