#integration-section {
    margin: 10rem 15rem;
    background-color: $color-white; 

    @include respond(tab-port) {
        margin:5rem 1rem;
    }

    
}
.integration {
    &__contents {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5rem;

        @include respond(tab-port) {
            flex-direction: column;
            width: 100% !important;
        }
    }
}

.content-1 {
    width: 60%;
    @include respond(tab-port) {
        width: 100%;
    }
}


.content-2 {
    width: 35%;
    padding-top: 8rem;
    // margin-right: 10rem;
    letter-spacing: 0.25rem;


    @include respond(tab-port) {
        width: 100%;
    }
}

.integrations-logo-row-img {
    max-width: 8rem;
    min-width: 8rem;
    max-height: 8rem;
    min-height: 8rem;
}