#leader-section {
    display: flex;
    margin: 10rem 15rem;
    flex-direction: column;

    @include respond(tab-land) {
        margin: 5rem 2rem;
      }
    

    .leader1 {
        display: flex;
    

    @include respond(tab-land) {
        flex-direction: column;
        // margin: 5rem 2rem;
      }
    }

    

    .grid{
       display: grid;
       grid-template-columns: repeat(2, 1fr);
    //    margin-bottom: 2rem;
    gap: 2rem;

    @include respond(tab-land) {
        display: none;
      }

       p {
        display: inline-flex;
       }
    }
    // .grid-2 {
    //     display: grid;
    //     grid
    // }
    .grid-1 {
        display: inline-flex;
    }
    .leader__title {
        width: 45%;

        @include respond(tab-land) {
            width: 100%;
          }
    }
}



.grid-image {
    height: 70vh;
    width: 45vw;
    margin-left: 3rem;
    justify-content: center;

    @include respond(tab-land) {
        width: 100%;
        height: 50vh;
        margin-left: 0;
        margin-top: 2rem;
      }
}

