#start-section {
    background-image: url(/img/background-image.svg);
    border-radius: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    margin: 0 10rem;
    padding:  5rem;
    align-items: center;

    @include respond(tab-port) {
        margin: 2rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }

    @include respond(tab-land) {
        margin: 2rem;
        padding: 3rem;
        display: flex;
        flex-direction: column;
    }
    @include respond(desktop) {
        margin: 2rem;
        padding: 3rem;
        display: flex;
        // flex-direction: c;
    }




    iframe {
        border-radius: 3rem;
        border-bottom-right-radius: 15rem;

        @include respond(phone) {
            width: fit-content;
        }

        @include respond(tab-land) {
            width: 80vw;
        }
    }
}
