#template-section {
    background-image: url(/img/template-section-bg.webp) ;
    margin: 0 10rem;
    padding: 5rem 10rem ;
    border-radius: 2rem;
    font-size: $default-font-size;

    
    @include respond(phone) {
        margin: 0 1rem;
        padding: 2rem 4rem;
    }

    @include respond(tab-land) {
        margin: 0 1rem;
        padding: 2rem 4rem;
    }
  }

.template {

    @include respond(tab-port) {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 3rem;
    }
    &__tab--container{
        display: flex;
        justify-content: space-between;

        
        @include respond(tab-port) {
            flex-direction: column;
        }

        @include respond(tab-land) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        // @include respond(tab-port) {
        //     flex-direction: column;
        // }
      
      
       
    }

    &__tab {
        width: 24%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $color-white;
        background-color: $color-indigo-light;
        opacity: 0.5;
        padding: 2rem;

        
        // @include respond(tab-land) {
        //     width: 100%;
        //     padding: 1rem;
        //     margin-bottom: 2rem;
        // }
        @include respond(tab-port) {
            width: 90%;
            // padding: 1rem;
            margin-bottom: 2rem;
            // gap: 3rem;
        }
       

        span {
        background-color: $color-secondary-light;
        padding: 0.5rem;
        border-radius: 0.7rem;
        font-size: 2rem;
        // margin-right: 9px;
        }

        &--active {
            display: flex;
            opacity: 1;

            span {
                background-color: $color-white;
                color: $color-indigo-light;
            }
            &:hover {
                cursor: pointer;
                
            }

            
        
        }

    }

    &__video {
        display: none;
        border-radius: 3rem;
    
        &--active {
            display:flex ;
            margin-top: 3rem;

        }
    }
}
