#try-section {
    background-image: url(/img/Hero-Module.svg);
    padding-top: 10rem;

  }

  .try{

    &__description {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;

    @include respond(tab-land) {
        display: flex;
        flex-direction: column;
    }
    }

    &__content {
        // width: 70%;
        margin-left: 15rem;
        @include respond(tab-land) {
            margin-left: 2rem;
        }

    }

    &__flex-btn {
        display: flex;
        gap: 1rem ;
        
    }

    &__video {
        background-image: url(/img/prefooter-UI-p-1600.webp);
        position: relative;
        height: 70vh;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;

        @include respond(tab-land) {
            height: 40vh;
        }
    }
  
  }