#voiceover-section {
    background: $color-grey-dark-1 ;
    // display: flex;
    padding: 5rem 10rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;

    @include respond(tab-land) {
        // padding: 4rem 7rem;
        display: flex;
        flex-direction: column;
        padding: 0 2rem;
    }
    @include respond(phone) {
        // padding: 4rem 7rem;
        display: flex;
        flex-direction: column;
        padding: 0 2rem;
        margin-top: -7rem;
    }

    img {
        // border-radius: 3rem;
        // border-bottom-right-radius: 10rem;

        @include respond(tab-land) {
            // margin-top: -5rem;
        }
    
    }

   
}
.fa-check-circle {
    color: $color-secondary-light;
    margin-right: 5px;
    font-size: 15px;
}

.voiceover {

    &__title {
        align-content: center;
    }
    &__videos {
        position: relative;

        .language__video{
        
            display: none;
    
            &--active{
                display: flex;
                position: relative;
            }
        
             
        }

        .language__btn{
            background-color: $color-white;
            padding: .5rem 2rem;
            border-radius: 1rem;
            align-items: center;
            display: flex;
            text-transform: uppercase;

            img {
                margin-right: .5rem;
            }
            &--active {
                background: black;
                color: $color-white;
            }
            &:hover {
             cursor: pointer;   
            }
        }

        video {
            border-radius: 3rem;
            border-bottom-right-radius: 10rem;
        }
    }

  

    &__child  {
        position: absolute;
        // top: -10px;
        bottom: 30px;
        left: 10px;
        display: flex;
        width: 90%;
        justify-content: space-between;
    }

}
