.footer {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  padding: 10rem 5rem;
  color: $color-white;
  background: url(/img/template-section-bg.webp); 

  &--span {
    color: $color-secondary-light;
  }
  

  & ul {
    list-style: none;

    li {
      color: $color-white;
      font-size: 1.5rem;

      &:hover{
        color: $color-secondary-light;

      }
    }
  }

&__list-items{
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  // font-size: 16px;

  @include respond(tab-land) {
    width: 100%;
    margin-bottom: 5rem;
  }

  @include respond(phone) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: -20rem;
  }


  span {
    font-size: 2rem;
  }
}
}
.display1{
  width: 20%;
  font-size: 1.5rem;

  @include respond(tab-land) {
    width: 100%;
  }
  
}
.img-icon{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;

  @include respond(tab-land) {
    justify-content: center;
    
  }
  
}

.address{
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  padding: 2rem 0;

  border-top: 1px solid grey;

  @include respond(tab-land) {
    border-top: none;
    display: flex;
    flex-direction:column ;
    align-items: center;
  }
 

  p{
    color: $color-white;
    font-size: 1.8rem;
    font-weight: lighter;
  }

  .social--icons {
    display: flex;
    justify-content: space-between;
    width: 10%;
    font-size: 30px;

    @include respond(tab-land) {
      width: 20%;
      margin-top: 2rem;
    }
  }
}

.section-9{
      margin-top: 100px;
      display: flex;
      justify-content: space-between;
      width: 100%;

      @include respond(tab-land) {
        flex-direction: column-reverse;
      }
      
  }