%heading {
    font-weight: 400;
}

.heading-1 {
    @extend %heading;
    font-size: 2rem;
    line-height: 1;
}

.heading-2 {
    @extend %heading;
    font-size: 8.8rem;
    letter-spacing: -.475rem;
    text-transform: none;
    line-height: 8.8rem;
    color: $color-grey-dark-2;

    @include respond(tab-land) {
        font-size: 4rem;
        line-height: 4rem;
    }

}

.heading-3 {
    @extend %heading;
    font-size: 1.6rem;
    color: $color-primary;
    
}

.heading-4 {
    @extend %heading;
    font-size: 5.5rem;

}

.heading-5 {
    @extend %heading;
    font-size: 3.2rem;
    letter-spacing: -.0128rem;
    line-height: 4.4rem;
    font-weight: 500;

}
.paragraph {
        font-size: 2rem;
        color: $color-grey-dark-2;
    
        &:not(:last-child) {
        margin-bottom: 3rem;
        }
    }